DISCORD_TOKEN=YOUR_BOT_TOKEN
CLIENT_ID=YOUR_APPLICATION_ID
GUILD_ID=YOUR_SERVER_ID
ADMIN_ROLE_ID=YOUR_ADMIN_ROLE_ID
VERIFIED_ROLE_ID=YOUR_VERIFIED_ROLE_ID
ANIME_CLOUD_DISCORD_INVITE=https://discord.gg/YOUR_INVITE
POINTS_PER_MESSAGE=1
MESSAGE_COOLDOWN_SECONDS=30
POINTS_PER_VC_INTERVAL=5
VC_MINUTES_REQUIRED=5
POINTS_PER_REFERRAL=50
WALLET_MAX=15000
POINTS_PER_RUPEE=100
DAILY_POINTS=25
SYSTEM_STATUS_CHANNEL_ID=YOUR_SYSTEM_STATUS_CHANNEL_ID
